@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.main{
    height: 80vh;
    position: relative;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/9ddb442a-aca7-4d85-9cd1-dbed62f18f26/web/IN-en-20251222-TRIFECTA-perspective_a882efaa-75c8-4143-9dc1-4f9932a791ac_large.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    background-color: black;
}

.main .box{
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 82px;
    
}

nav img{
    color: red;
    width: 148px;
    position: relative;
    z-index: 2;
}

nav div button{
    position: relative;
    z-index: 2;
}

nav button img{
    width: 18px;
    margin-right: 4px;
}

.top_btn button{
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 6px 12px;
}

.top_btn {
    display: flex;
    gap: 10px;
}

.lang_btn {
    /* background-color: transparent; */
    
}

.hero {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: calc(100% - 82px);
}

.hero > :nth-child(1){
    font-weight: 900;
    font-size: 52px;
    width: 700px;
    text-align: center;
    
}

.hero > :nth-child(2){
    font-weight: 400;
    font-size: 24px;
   
}
.hero > :last-child{
    font-size: 20px;
    font-weight: 400;
}
.speration{
    width: 100%;
    height: 8px;
    background-color: gray;
}
.inputBtn{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.inputBtn input{
    font-weight: 600;
    padding: 10px;
    font-size: 16px;
    width: 40%;
    min-width: 300px;
    border: gray 1px solid;
    max-height: 56px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}
.inputBtn button{
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    justify-content: center;
}

.btn-red{
    background-color: #e50914;
    color: white;
    border: none;
}